@model Car_Rental_System.Models.tblCars

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tblCars</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.purchase_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.purchase_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tblCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tblCategories.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.carId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
