@model Car_Rental_System.Models.tbllocation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbllocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.streetNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.streetNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.streetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stateabre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stateabre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="locationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
