@model Car_Rental_System.Models.tblReservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tblReservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pick_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pick_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pick_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pick_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Return_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Return_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tblCars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tblCars.carId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tblCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tblCustomer.CNIC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.resId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
